<h1>Events for <%= @match.home_team.name %> - <%= @match.away_team.name %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Type</th>
      <th>Player</th>
      <th>Minute</th>
      
      <th>Home team</th>
      <th>Away team</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.event_type %></td>
        <td><%= event.player %></td>
        <td><%= event.minute %></td>
        
        <td><%= event.home_team %></td>
        <td><%= event.away_team %></td>
        <td><%= link_to 'Show', match_event_path(event.match_id, event) %></td>
        <td><%= link_to 'Edit', edit_match_event_path(event.match_id, event) %></td>
        <td><%= link_to 'Destroy', match_event_path(event.match_id, event), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_match_event_path(@match) %>
<br><br>

<%= link_to 'Back', match_path(@match) %>
