{{#each matches}}

 
<a href="#"  class="match-view"  data-id="{{ id }}">
  <div class="panel panel-success">
    
    <div class="panel-heading">
      <span>{{match_type}} {{#if group }}Group {{/if}}{{ group }}</span></th>      
               
      <span class="badge pull-right">{{startDay}}.{{startMonth}}.{{ startYear }} at {{startHours}}:{{startMinutes}}</span>
    </div>
    <table class="table">      
      <tbody>
        <tr>
          <td width="15%" align="right"><span>{{{ home_flag }}}</span></td>

          <td width="25%" align="center"><span>{{ home_team.name }}</span></td>
          <td width="20%" align="center"><span>{{ home_goals }} - {{ away_goals}}</span></td>
          
          <td width="25%" align="center"><span>{{ away_team.name }}</span></td>
          <td width="15%" align="left"><span>{{{ away_flag }}}</span></td>

        </tr>
      </tbody>      
    </table>
   
    <div class="match-details">
      
    </div>
  </div>
   </a>
{{/each}}