<div class="panel panel-success match-table">
  
  <table class="table table-striped">
    
    
    <tbody>
      {{#each events}}
      <tr>
        
        <td width="15%" align="right"><span>{{#if home_team}}{{ event_type }}{{/if}}</span></td>
        <td width="20%" align="right"><span>{{#if home_team}}{{ player }}{{/if}}</span></td>
        <td width="10%" align="right"><span>{{#if home_team}}{{ minute }}{{/if}}</span></td>
        
        <td width="10%" align="center"><span></span></td>
       
        <td width="10%" align="left"><span>{{#if away_team}}{{ minute }}{{/if}}</span></td>
        <td width="20%" align="left"><span>{{#if away_team}}{{ player }}{{/if}}</span></td>
        <td width="15%" align="left"><span>{{#if away_team}}{{ event_type }}{{/if}}</span></td>
       
      {{/each}}
      </tr>
    </tbody>
    
  </table>

</div>