
<table class="table">
  
  <thead>
    <tr>
      <th colspan="2"><span class="label label-default">Group {{ group_id }}</span></th>      
      <th colspan="1" rowspan="" headers="" scope=""></th>      
      <th colspan="2"><span class="badge pull-right">{{ play_time }}</span></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td width="30%" align="right"><span>{{ home_team }}</span></td>
      <td width="10%" align="center"><span>{{ home_goals }}</span></td>
      <td width="10%" align="center"><span>-</span></td>
      <td width="10%" align="center"><span>{{ away_goals}}</span></td>
      <td width="30%" align="left"><span>{{ away_team }}</span></td>
    </tr>
  </tbody>
</table>