<h2>Top Scorers</h2>
<div class="panel panel-default">
  

<table class="table table-striped">
  <thead>
    <tr>
      
      <th><h4><span class="label label-success">Name</span></h4></th>
      <th><h4><span class="label label-success">Team</span></h4></th>
      <th><a href=""><h4><span class="label label-success">Matches</span></h4></a></th>
      <th align="center"><a href=""><h4><span class="label label-success">Goals</span></h4></a></th>
      <th align="center"><a href=""><h4><span class="label label-success">Assists</span></h4></a></th>
     
    </tr>
  </thead>
  <tbody>
    {{#each players}}
      <tr>
        
        <td>{{first_name}} {{ last_name }}</td>
        <td>{{{flag}}}</td>
        <td><span>{{ matches }}</span></td>
        <td><span>{{ goals }}</span></td>
        <td><span>{{ assists }}</span></td>        
      </tr>
    {{/each}}
  </tbody>
</table>

</div>