<h2>Top Scorers</h2>
<table class="table table-striped">
  <thead>
    <tr>
      
      <th>Name</th>
      <th>Team</th>
      <th ><a href="" class="btn btn-sm btn-default">Matches</a></th>
      <th align="center"><a href="" class="btn btn-sm btn-default">Goals</a></th>
      <th align="center"><a href="" class="btn btn-sm btn-default">Assists</a></th>
     
    </tr>
  </thead>
  <tbody>
    {{#each players}}
      <tr>
        
        <td>{{first_name}} {{ last_name }}</td>
        <td>{{{flag}}}</td>
        <td><span>{{ matches }}</span></td>
        <td><span>{{ goals }}</span></td>
        <td><span>{{ assists }}</span></td>        
      </tr>
    {{/each}}
  </tbody>
</table>